body{
    background-color: goldenrod;
}

header{
    background-color: blue;
    text-align: center;
}
.information{
 
    width: 100px;
    height: 100px;
    background-color: brown;
    transition: width 2s,height 2s,transform 2s;
       
}
.information:hover{
    width: 300px;
    height: 300px;
    transform: rotate(1800deg);
    background-color: aqua;
}
    
    